[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "==2.1.1"
pytest = "==3.7.1"

[packages]
adafruit-ampy = "==1.0.5"
mpfshell = "==0.8.1"

[requires]
python_version = "3.6"
